/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*= require fileinput
*/

body {
    padding-bottom: 90px;
}

.fattop-nav{
    margin-bottom: 0px !important;
    border:none !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #EFEFEF;
    background-color: #337ab7;
}

.header-content {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 36px;
    font-weight: bold;
    background: #337ab7;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    color: #EFEFEF;
}

.page-title{
    color: #337ab7;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.little-title{
    color: #337ab7;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

.marginedtop{
    margin-top: 20px;
}

.header-content .disclaimer {
    font-size: 18px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #555;
    text-align: center;
    background: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.demofat{
    border: 1px solid #337ab7 !important;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    top: 0;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    color: #337ab7;
}

.carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    padding: 15px;
    background: #337ab7;
}

.carousel-caption p {
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .carousel-caption p {
        font-size: 13px;
    }

    .carousel-caption {
        background: rgba(51, 122, 183, 0.75);
    }

    .carousel-control {
        /*top: 20%;*/
    }
}